body {
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
}

time {
  font-family: 'Xanh Mono', monospace;
  font-size: 100px;
}

#chart-container {
  position: relative;
  padding: 10px;
  height: 50vh;
  overflow: hidden;
}

menu {
  display: flex;
  list-style: none;
  padding: 0;
  width: 75vw;
}

menu li {
  flex-grow: 1;
  border: 1px solid black;
}
